body {
    /* background-color: #ccc; */
    color: #222;
    font-family: sans-serif;
}

.rectangulo {
    padding: 100px;
    background: #ccc;
    margin: 50px;
    outline: 4px dashed #ccc;
}

.circulo {
    border-radius: 50%;
    padding: 40px;
    margin: 10px;
    background: #f00;
    display: inline-block;
}