body {
    background-color: #ccc;
    color: #222;
    font-family: sans-serif;
}

/* Ejemplo para trabajar con cláusulas */
/* button {
    padding: 8px;
    margin: 10px 0 0 10px;
}

.texto {
    margin: 20px;
} */

/* Se cierra el ejemplo para trabajar con cláusulas */

