body {
    background-color: #ccc;
    color: #222;
    font-family: sans-serif;
}

.container {
    text-align: center;
}

.reloj {
    display: inline-flex;
    background: linear-gradient(#111, #666);
    border: 2px solid #999;
    border-radius: 7px;
    margin: 10px;
}

.reloj div {
    color: #999;
    padding: 14px 16px;
    font-size: 20px;
    font-family: monospace; /* TIPO DE LETRA */
}