body {
    background-color: #ddd;
    color: #222;
    font-family: sans-serif;
}

.texturas {
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    user-select: all;  /* De esta manera no se selecciona el texto de enmedio de la galeria :D, no se pone none ya que de ponerlo así, no se seleccionaría nada directamente */
}

.texturas div {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 6px;
}

.texturas div:active {
    opacity: 0.55;
}

.textura0 {
    background: url("img/textura0.jpg");
    background-size: cover;
}

.textura1 {
    background: url("img/textura1.jpg");
    background-size: cover;
}

.textura2 {
    background: url("img/textura2.jpg");
    background-size: cover;
}

.zona {
    margin: 10px;
    background: #ccc;
    height: 200px;
    /* object-fit: contain; */
    /* background: url("img/textura2.jpg"); */
    /* background-size: cover; */
}